footer {
    background-color:$header;
    color:rgba(241, 242, 255, 0.863);
    font-family: $mainFont;
  

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 100px;
        padding-bottom: 75px;
    }

    .col-one,
    .col-two,
    .social {
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        a {
           
            color: rgba(241, 242, 255, 0.863);
            margin-bottom: 30px;
        }
    }

    .contact {
        

        img {
            display: block;
            max-width: 175px;
        }

        p {
            margin-top: 20px;;

            i {
                margin-right: 10px;
                color: #fff;
            }
        }

    }

    .social {
        flex-direction: row;
        font-size: 30px;

        i {
            margin-left: 10px;
        }
    }
}