
.hero {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;

    .hero_text {
        align-self: center;
        padding-right: 40px;

        p {
            margin-top: 10px;
            font-size: 17px;
            padding-right: 40px;
        }

        .hero_cta {
            margin-top: 30px;

            input {
                padding: 15px 150px 15px 12px;
                border: 1px solid rgb(70, 70, 70);
                border-radius: 4px;
                margin-right: 20px;
            }

            input::placeholder {
                font-size: 14px;
                color: rgb(214, 214, 214);
            }
        }
    }

    .hero_image {
        max-width: 100%;
    }
}