// Hero Media Queries

@media (max-width:1260px) {
    .mainButton {
        margin-top: 20px;
    }
}

@media (max-width:1000px) {
    
    .hero .hero_text {

        .mainTitle {
            font-size: 25px;
        }

        p {
            font-size: 15px;
        }

        button {
            padding: 10px 20px;
        }

    }

   

}