.stay_productive {
    background-color: $stayProductive;
}

.productive {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;
    padding-bottom: 100px;

    .productive_text {
     
        padding-right: 40px;

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-top: 20px;
        }
        

        .link {
            display: inline-block;
            color: $linkButton;
            margin-top: 30px;
            position: relative;
            border-bottom: 2px solid $linkButton;
        }
        .link::after {
            content: url(../images/icon-arrow.svg);
            padding-left: 5px;
            margin-top: 3px;
            position: absolute;
            transition: all 0.3s ease;
        }

        .link:hover::after{
            margin-left: 10px;
            
        }

        .quote {
            background-color: #fff;
            margin-top: 30px;
            padding: 35px;
            font-size: 15px;
            max-width: 80%;
            box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
            border-radius: 5px;
            overflow: hidden;

            blockquote {
                margin-top: 10px;
                line-height: 1.6;
            }

            img {
                margin-top: 30px;
                margin-right: 10px;
                float: left;
                width: 40px;
                border-radius: 50%;
            }

            h3 {
                font-family: $mainFont;
                font-weight: 700;
                margin-top: 30px;
            }

            h4 {
                font-family: $mainFont;
                font-size: 12px;
                font-weight: 400;
            }
        }

        .quote::before {
            content: url(../images/icon-quotes.svg);
        }



    }

    .productive_image {
        max-width: 100%;
    }
}